langchain-google_genai
langchain-huggingface
langchain-chroma
langchain
langchain-core
langchain-community
pymupdf4llm
langchain-text-splitters
unstructured
llama-cpp-python
dotenv
unstructured[md]
langgraph
sentence-transformers
langchain_cohere
nltk